<h2>Search Inventory</h2>
<form action="/inventory" method="GET">
    <label>Name</label>
    <input type="text" name="name" value="<%= searchOptions.name %>">
    <button type="submit">Search</button>
</form>
<br>
<% inventory.forEach(inventory => { %>
    <div><%= inventory.name %> </div>
    <a href="/inventory/<%= inventory.id %>">View</a>
    <a href="/inventory/<%= inventory.id %>/edit">Edit</a>
    <%- include('../partials/deleteForm',
              { url: `/inventory/${inventory.id}` }) %>
<% }) %>